img {
    border-radius: 2em;
}

.hide {
    display: none;
}

.winner {
    color: lightgreen;
    transition: .25s ease-in;
}

.loser {
    color: lightcoral;
    transition: .25s ease-in;
}

body {
    background-color: rgb(40, 40, 42);
    color: rgb(230, 230, 240);
}

button {
    border-radius: 1em;
    padding: 10px;
    margin: 5px;
}

#p1Plus,
#p2Plus {
    background-color: lightgreen;
}

#p1Minus,
#p2Minus {
    background-color: lightcoral;
}

#scoreReset {
    background-color: lightblue;
    padding: 10px 50px;
}

#score span {
    font-size: 4em;
    font-weight: bold;
}

#banner span {
    font-size: 4em;
}

.playingTo {
    padding-top: 25px;
    font-size: 1.5em;
}

select {
    font-size: .75em;
}

.increase {
    padding: 20px 75px;
}